<div class="container">
    <h2>Edit Profile</h2>
    <form>
        <div class="form-group">
            <label htmlFor="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" />
        </div>
        <div class="form-group">
            <label htmlFor="second_name">Second Name</label>
            <input type="text" id="second_name" name="second_name" />
        </div>
        <div class="form-group">
            <label htmlFor="display_name">Display Name</label>
            <input type="text" id="display_name" name="display_name" />
        </div>
        <div class="form-group">
            <label htmlFor="login">Login</label>
            <input type="text" id="login" name="login" />
        </div>
        <div class="form-group">
            <label htmlFor="email">Email</label>
            <input type="email" id="email" name="email" />
        </div>
        <div class="form-group">
            <label htmlFor="phone">Phone</label>
            <input type="text" id="phone" name="phone" />
        </div>
        <button type="submit">Save</button>
    </form>
</div>