        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" />
            <div class="error">{{errors.first_name}}</div>
        </div>
        <div class="form-group">
            <label for="second_name">Second Name</label>
            <input type="text" id="second_name" name="second_name" />
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" />
            <div class="error">{{errors.login}}</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
            <div class="error">{{errors.email}}</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <div class="error">{{errors.password}}</div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" />
        </div>
        <button type="submit">Sign up</button>

