:root {
  --blue: #007bff;
  --bg-white: #f0f0f0;
  --white: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

a {
  margin-top: 15px;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

form {
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.error {
  color: red;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}

.custom-height {
  size: 500px;
}

.chat-container {
  display: flex;

  /* Расположить элементы в строку */
  height: 100vh;

  /* Высота экрана */
}

.chat-list {
  width: 30%;

  /* Занимает 30% ширины экрана */
  background-color: #f0f0f0;

  /* Светлый фон */
  padding: 20px;
  border-right: 1px solid #ccc;

  /* Разделитель */
  overflow-y: auto;

  /* Прокрутка */
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  
  /* Указатель при наведении */
}

.chat-item:hover {
  background-color: #e0e0e0;

  /* Изменение цвета при наведении */
}

/* Область сообщений */
.chat-messages {
  width: 70%;

  /* Остальная часть экрана */
  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
}